*::before,
*::after,
*{
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vh;
    padding: 1.25rem;
}

section{
    display: flex;
    padding: 1.25rem;
}


.summary{
    flex-direction: column;
    padding: 1rem;
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}